# Outlier Handling Notebook: Models 1 & 2

**Medicare DeSYNPuf Data: 
2009 Inpatient Claims for Risk Adjustment Modeling and Correspondence Analysis**

HDS 823 Final Project: Advanced Statistics in Healthcare
Kyle P. Rasku RN BSN

In [1]:
%matplotlib inline
import numpy as np
import pandas as pd
import seaborn as sb
import matplotlib.pyplot as plt

In [2]:
# Load 2009 IP & ELIX Data, Created by the Cleaning Notebook
desynpuf = pd.read_csv("/home/kylier/python/DS/data/PUF/PUF_ELIX_IP2009.csv")

In [3]:
desynpuf.head()

,Unnamed: 0,DESYNPUF_ID,BENE_AGE,B_SEX,NH_WHITE,AA_BLACK,OTHER,NW_HISPANIC,B_ALZHDMTA,B_CHF,...,MEAN_LOS,TOTAL_PHYS,MEAN_PHYS_VISIT,CBSA,FULL_FIPS_CODE,FIPS_STATE_CODE,FIPS_COUNTY_CODE,TOTCHRONIC,AGE_GROUP,PERCENT_COSTS
0,0,0000438E79D01BEA,73.0,1,1,0,0,0,0,0,...,0.0,0,0.0,45300,12057,12,57,0,65-74,0.0
1,1,00010E7BEA69142C,72.0,0,1,0,0,0,1,0,...,0.0,0,0.0,48864,10003,10,3,2,65-74,0.0
2,2,00015BF6509E1DF7,76.0,0,1,0,0,0,0,0,...,0.0,0,0.0,16740,37119,37,119,3,75-84,0.0
3,4,0003E73AFBA840A8,68.0,0,1,0,0,0,0,0,...,0.0,0,0.0,40380,36055,36,55,0,65-74,0.0
4,5,00040FBA47F90D4F,85.0,0,1,0,0,0,0,1,...,0.0,0,0.0,20764,34035,34,35,2,85+,0.0

In [4]:
desynpuf.drop(columns=desynpuf.columns[0], axis=1, inplace=True)
desynpuf.isnull().sum()

DESYNPUF_ID         0
BENE_AGE            0
B_SEX               0
NH_WHITE            0
AA_BLACK            0
OTHER               0
NW_HISPANIC         0
B_ALZHDMTA          0
B_CHF               0
B_CNCR              0
B_COPD              0
B_DEPRESSN          0
B_DIABETES          0
B_ISCHMCHT          0
B_OSTEOPRS          0
B_CHRNKIDN          0
B_RA_OA             0
B_STRKETIA          0
B_ESRD              0
B_DIED              0
CVRG_MOS            0
RX_CVRG_MOS         0
MEAN_ELIX_SCORE     0
TOTAL_VISITS        0
TOTAL_CODES         0
MEAN_CODES_VISIT    0
MEAN_CHRONIC        0
ALLCOSTS            0
MEAN_COST_VISIT     0
TOTAL_LOS           0
MEAN_LOS            0
TOTAL_PHYS          0
MEAN_PHYS_VISIT     0
CBSA                0
FULL_FIPS_CODE      0
FIPS_STATE_CODE     0
FIPS_COUNTY_CODE    0
TOTCHRONIC          0
AGE_GROUP           0
PERCENT_COSTS       0
dtype: int64

In [5]:
desynpuf["MEAN_LOS"].fillna(0, inplace=True)

In [6]:
desynpuf.shape

(113237, 40)

## Deaths in 2009

In [7]:
# Set B_DIED fields that are = 2 to 1
desynpuf.loc[desynpuf["B_DIED"]>1, "B_DIED"] = 1.0
desynpuf["B_DIED"].value_counts(normalize=True)

0.0    0.984952
1.0    0.015048
Name: B_DIED, dtype: float64

## Outlier Removal

Remove: 

Rows where MEAN_ELIX_SCORE > 13

Rows where TOTAL_VISITS > 7

Rows where TOTAL_LOS > 100

Rows where MEAN_LOS > 29

Rows where MEAN_CODES_VISIT > 14

Rows where TOTAL_CODES > 60

Rows where TOTAL_PHYS > 14

In [8]:
desynpuf.shape

(113237, 40)

In [9]:
desynpuf = desynpuf[desynpuf["MEAN_ELIX_SCORE"]<14]
desynpuf.shape

(113237, 40)

In [10]:
desynpuf = desynpuf[desynpuf["TOTAL_VISITS"]<8]
desynpuf.shape

(113237, 40)

In [11]:
desynpuf = desynpuf[desynpuf["TOTAL_LOS"]<101]
desynpuf.shape

(113237, 40)

In [12]:
desynpuf = desynpuf[desynpuf["MEAN_LOS"]<25]
desynpuf.shape

(113155, 40)

In [13]:
desynpuf = desynpuf[desynpuf["MEAN_CODES_VISIT"]<15]
desynpuf.shape

(113155, 40)

In [14]:
desynpuf = desynpuf[desynpuf["TOTAL_CODES"]<61]
desynpuf.shape

(113155, 40)

In [15]:
desynpuf = desynpuf[desynpuf["TOTAL_PHYS"]<15]
desynpuf.shape

(113155, 40)

In [16]:
desynpuf = desynpuf[desynpuf["ALLCOSTS"]<400000]
desynpuf.shape

(113155, 40)

## Total Rows Removed: 1145

In [17]:
desynpuf.to_csv("/home/kylier/python/DS/data/PUF/PUF_ELIX_IP2009.csv")